body {
    padding: 0;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 1em;
    align-self: left;
    text-align: center;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #2196F3;
    color: white;
}

.link {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex: 1;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.search-container input[type='text'] {
    padding: .5em;
    font-size: 17px;
}

.search-container button {
    padding: .7em;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}